<div class="contenedor">
  <div class="menu" >
    <nav class="navbar navbar-expand-lg ">
      <ul class=" ulcss  navbar navbar-nav"  *ngIf="mostrar==false" >
        <li class="nav-item" ><a href="#Inicio">Inicio</a> </li>
        <li class="nav-item"><a href="#Bio">Bio</a> </li>
        <li class="nav-item"><a href="#CantM">Cantante Moderna</a></li>
        <li class="nav-item"><a href="#CantE">Cantante Espiritual</a></li>
        <li class="nav-item"><a href="#Agenda">Agenda</a></li>
        <li class="nav-item"><a href="#Clases">Clases de canto</a></li>
        <li class="nav-item"><a href="#Contacto">Contacto</a></li>
      </ul>
    </nav>
  </div>
  <div class="menu-icon" (click)="hamburguesa()" >
    <span ></span>
    <span></span>
    <span></span>
  </div>


  <div class="imagen" id="Inicio">
    
   <div class="imginterior">
     <img src="./assets/portadacantante.jpg" alt="">
    <img src="./assets/PortadaEspiritual.jpg" alt=""> 

   </div>



  </div>

</div>


<div class="contenedordos" id="Bio">
  <app-music></app-music>
</div>

<div class="contenedortres" id="Contacto">
  <app-formulario> </app-formulario>
</div>
