<p [style.color]="fontColor" [style]="position">{{title}}</p>
<form action="https://formsubmit.co/ernestoami@hotmail.com" [style.color]="fontColor" [style]="space" class="formulario"
  method="POST">
  <!-- <form  [formGroup]="enviar" (submit)="send()" [style.color]="fontColor" [style]="space" class="formulario"> -->
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" name="email">
  </div>
  <div class="form-group">
    <label for="asunto">Asunto</label>
    <input type="text" class="form-control" placeholder="Asunto" name="asunto">
  </div>
  <div class="form-group">
    <label for="mensaje">Mensaje</label>
    <textarea class="form-control" rows="3" name="mensaje"></textarea>
  </div> <br>
  <div class="acepto">
    <label for="formu" (click)="goprivacidad()">He leído y acepto la <a  href="/privacidad">política de
        privacidad </a> </label>
    
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

  <!-- <router-outlet></router-outlet> -->