.contenedorBio{
   background-color: black;
   overflow: hidden;
   height: auto;
   
}
.textbio{
    width: 60%;
    background-color: blueviolet;
    margin: 50px  auto;
    color: aliceblue;
    overflow:scroll;
    height: 600px;
    padding: 30px;
}
.textbio h4{text-align: center;}
.acepto{padding: 5px;}


@media (max-width: 768px) {
    .textbio{width: 90%;}
}