<div class="row stylecontainer">
    <div class="col-sm-6">
      <div class="card cardspirit">
        <div class="card-body">
            <h5 class="card-title">Cantante Espiritual</h5>
            <a href=""><p class="card-text">Espacio Ronda</p></a>
            <a href=""><p class="card-text">Kirtan</p></a>

          <a href="#" class="btn btn-primary">Return Home</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="videosyoutube">
          <h5 class="card-title">Directiva de title</h5>
          <div class="container mt-2">
            <div class="row">
                <div class="col">
                  <youtube-player class="videoplayer" videoId="5n1o7DzuVMA"></youtube-player>'
                </div>
            </div>
        </div>
                  
        </div>
      </div>
    </div>
  </div>