<div class="row stylecontainer">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cantante Moderna</h5>
          <p class="card-text">Latina</p>
          <p class="card-text">Jazz</p>
          <p class="card-text">Tualuta</p>

          <a href="#" class="btn btn-primary">Change</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Directiva de title</h5>
          <p class="card-text">Título tema.</p>
          <div>imagen radio</div>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>